

<!-- Navigation -->
   <br/>
   <br/>
   <br/>
   <br/>
   <br/>
    <!-- Header -->
   
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Explore Real Estate In India</h1>
            <h3></h3>
            <br>
            <%= link_to 'Find Out More', properties_path %>
        </div>
    </header>

